# Development files
*.pyc
.*.sw?

# Build-related files
/django_afip.egg-info
/build
/dist
/.eggs
docs/_build/
django_afip/version.py

# Test-related files
*.sqlite3
/testapp/media
.tox
.coverage
testapp/test_ticket.yaml
test.csr
test2.csr

#Branch files
Pipfile
Pipfile.lock

