[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-afip = {editable = true, path = "."}

[dev-packages]
"dj-database-url" = "*"
coverage = "*"
"factory-boy" = "*"
freezegun = "*"
