name: Tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python: [ '3.5', '3.6', '3.7' ]
        db: [ postgres, mysql, sqlite ]
        django: [ '21', '22', 'dev' ]
    name: django-${{ matrix.django }}, python${{ matrix.python }}, ${{ matrix.db }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
          architecture: x64
      - name: Install test dependencies
        run: |
          pip install tox codecov
          sudo apt-get update && sudo apt-get install libpq-dev libmysqlclient-dev
      - name: Run tests
        run: tox
        env:
          TOXENV: django${{ matrix.django }}-${{ matrix.db }}
          DB: ${{ matrix.db }}
      - name: Report coverage
        run: codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  tests-live:
    runs-on: ubuntu-18.04
    name: live
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@v1
        with:
          python-version: "3.7"
          architecture: x64
      - name: Install test dependencies
        run: |
          pip install tox codecov
          sudo apt-get update && sudo apt-get install libpq-dev
      - name: Run tests
        run: tox
        env:
          TOXENV: live
          DB: postgres
      - name: Report coverage
        run: codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
